* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1a1a;
  overflow: hidden;
  color: #333;
}

#root {
  width: 100vw;
  height: 100vh;
}

code {
  font-family: "Roboto Mono", monospace;
  background-color: #f1f3f4;
  padding: 2px 6px;
  border-radius: 3px;
  font-size: 0.9em;
}
